{% extends 'template.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Crée un compte</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.cin) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.businessName) }}
        {{ form_row(registrationForm.businessDescription) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
            {{ form_row(registrationForm.confirm) }}
        {{ form_row(registrationForm.imageFile) }}
        {#  { form_row(registrationForm.admin) } #}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
