{% extends 'base.html.twig' %}

{% block title %}Mes services{% endblock %}

{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        <li class="breadcrumb-item">
            <a href="{{ path('myServices') }}">Mes services</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    <a class="btn btn-white btn-sm" href="{{ path('myServices_new') }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span>Crée un nouveau service</span>
    </a>
{% endblock %}
{% block body %}
    {#
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    #}
    <div class="element-wrapper">
        <h6 class="element-header">
            Mes services
        </h6>
        <div class="element-box">
            <h5 class="form-header">
            </h5>
            <div class="form-desc">
            </div>
            <div class="order-box">
                <div class="order-items-table">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Info
                                </th>
                                <th>
                                    Catégorie
                                </th>
                                <th>
                                    Quantité
                                </th>
                                <th>
                                    Prix (dt)
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in services %}
                                <tr>
                                    <td>
                                        {% if service.filename %}
                                            <div class="product-image"
                                                 style="background-image: url({{ vich_uploader_asset(service, 'imageFile') }})"></div>
                                        {% else %}
                                            <div class="product-image"
                                                 style="background-image: url({{ asset('/img/bigicon1.png') }})"></div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="product-name">
                                            {{ service.nom }}
                                        </div>
                                    </td>
                                    <td>
                                        <a class="product-remove-btn"
                                           href="{{ path('myServiceCategories_show', {'id':service.category.id}) }}">
                                            {{ service.category }}
                                        </a>
                                    </td>
                                    <td class="text-md-left">
                                        <div class="product-price">
                                            {{ service.qtt }}
                                        </div>
                                    </td>
                                    <td class="text-md-left">
                                        <div class="product-price">
                                            {{ service.prix }}
                                        </div>
                                    </td>
                                    <td>

                                        <div class="col">
                                            <a class="product-remove-btn"
                                               href="{{ path('thisServiceOptions',{'id':service.id}) }}">
                                                Options
                                            </a>
                                        </div>
                                        {#
                                        <div class="col">
                                            <a class="product-remove-btn"
                                               href="{{ path('service_calendar',{'id':service.id}) }}">
                                                Réservation
                                            </a>
                                        </div>
#}
                                    </td>
                                    <td>
                                        <div class="row row-actions" style="border-top:none ;border-bottom:none">
                                            <div class="col">
                                                <a class="product-remove-btn"
                                                   href="{{ path('myServices_show', {'id': service.id}) }}">
                                                    <div class="os-icon os-icon-grid-10"></div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="product-remove-btn"
                                                   href="{{ path('myServices_edit', {'id': service.id}) }}">
                                                    <div class="os-icon os-icon-ui-49"></div>
                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#dataTable thead tr').clone(true).appendTo('#dataTable thead');
            $('#dataTable thead tr:eq(1) th').each(function (i) {

                var title = $(this).text();
                if (title.search("Cat") !== -1 || title.search("Info") !== -1 || title.search("Quantit") !== -1 || title.search("Pri") !== -1) {
                    $(this).html('<input class="form-control" type="text" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).html('<input type="text" hidden/>');

                }

            });

            var table = $('#dataTable').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                "dom": '<"top"l>rt<"bottom"ip><"clear">',
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });

        });
    </script>
{% endblock %}
