{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('selectUser', {'action': 'index_user'}) }}">Selectionner un utilisateur</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Services</a>
        </li>
    </ul>
{% endblock %}


{% block QuickLink1 %}
    {{ include('service/_quickLinks.html.twig') }}
{% endblock %}
{% block body %}
    {#
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    #}
    <div class="element-wrapper">
        <div class="element-box">
            <div class="order-box">
                <div class="order-details-box">
                    {% if is_granted('ROLE_SUPER') %}
                        <div class="order-main-info">
                            <a href="{{ path('super_edit', {'id': userId.id}) }}">
                                <span>Nom & prenom</span><strong>{{ userId.nom }} {{ userId.prenom }}</strong>
                            </a>
                        </div>
                        <div class="order-sub-info">
                            <a href="{{ path('super_edit', {'id': userId.id}) }}">
                                <span>Identifiant</span><strong>#{{ userId.id }}</strong>
                            </a>
                        </div>
                    {% else %}
                        <div class="order-main-info">
                            <a href="{{ path('user_edit', {'id': userId.id}) }}">
                                <span>Nom & prenom</span><strong>{{ userId.nom }} {{ userId.prenom }}</strong>
                            </a>
                        </div>
                        <div class="order-sub-info">
                            <a href="{{ path('user_edit', {'id': userId.id}) }}">
                                <span>Identifiant</span><strong>#{{ userId.id }}</strong>
                            </a>
                        </div>
                    {% endif %}

                </div>
                <div class="order-items-table">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Info
                                </th>
                                <th>
                                    Catégorie
                                </th>
                                <th>
                                    Prix <strong>(dt)</strong>
                                </th>
                                <th>
                                </th>

                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in services %}
                                <tr>
                                    <td>
                                        {% if service.filename %}
                                            <div class="product-image"
                                                 style="background-image: url({{ vich_uploader_asset(service, 'imageFile') }})"></div>
                                        {% else %}
                                            <div class="product-image"
                                                 style="background-image: url({{ asset('/img/bigicon1.png') }})"></div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="product-name">
                                            {{ service.nom }}
                                        </div>
                                    </td>
                                    <td>
                                        <a class="product-remove-btn" href="{{ path('service_category_show', {'id': service.category.id,'userId': userId}) }}">
                                            {{ service.category }}
                                        </a>
                                    </td>
                                    <td class="text-md-left">
                                        <div class="product-price">
                                            {{ service.prix }}
                                        </div>
                                    </td>
                                    <td>

                                        <div class="col">
                                            <a class="product-remove-btn"
                                               href="{{ path('userServiceOptions',{'id':service.id, 'user':userId}) }}">
                                                Options
                                            </a>
                                        </div>

                                        <div class="col">
                                            <a class="product-remove-btn"
                                               href="{{ path('admin_service_calendar',{'id':service.id, 'user':service.business}) }}">
                                                Réservation
                                            </a>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="row row-actions" style="border-top:none ;border-bottom:none">
                                            <div class="col">
                                                <a class="product-remove-btn"
                                                   href="{{ path('service_show', {'id': service.id, 'userId':userId}) }}">
                                                    <div class="os-icon os-icon-grid-10"></div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="product-remove-btn"
                                                   href="{{ path('service_edit', {'id': service.id, 'userId':userId}) }}">
                                                    <div class="os-icon os-icon-ui-49"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# <a href="{{ path('service_new') }}">Create new</a> #}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#dataTable thead tr').clone(true).appendTo('#dataTable thead');
            $('#dataTable thead tr:eq(1) th').each(function (i) {

                var title = $(this).text();
                if (title.search("Cat") !== -1 || title.search("Info") !== -1  || title.search("Pri") !== -1) {
                    $(this).html('<input class="form-control" type="text" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).html('<input type="text" hidden/>');

                }

            });

            var table = $('#dataTable').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                "dom": '<"top"l>rt<"bottom"ip><"clear">',
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });

        });
    </script>
{% endblock %}
