{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Accueil</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Notifications</a>
        </li>
    </ul>
{% endblock %}

{% block body %}

    <div class="element-wrapper">
        <h6 class="element-header">
            Mes notifications
        </h6>
        <div class="element-box">
            <h5 class="form-header">
                Liste des notifications
            </h5>
            <div class="form-desc">
            </div>
            <div class="table-responsive">
                <table id="dataTable" style="width: 100%;" class="table table-striped table-lightfont">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Par
                        </th>
                        <th>
                            Titre
                        </th>
                        <th>
                            Date
                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in notifications %}
                        <tr>
                            <td>
                                {{ notification.id }}
                            <td class="text-right">
                                {{ notification.sender.nom }} {{ notification.sender.prenom }}
                            </td>
                            <td>
                                {{ notification.title }}
                            </td>
                            <td class="row-actions">
                                {{ notification.getSendingDateString }}
                            </td>
                            <td class="row-actions">
                                <button class="mr-2 mb-2 btn btn-primary" data-target="#onboardingTextModal-{{ notification.id }}"
                                        data-toggle="modal" type="button">Détails
                                </button>
                                <div aria-hidden="true" class="onboarding-modal modal fade animated"
                                     id="onboardingTextModal-{{ notification.id }}" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-centered" role="document">
                                        <div class="modal-content text-center">
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span class="close-label">Fermer</span><span
                                                        class="os-icon os-icon-close"></span></button>
                                            <div class="onboarding-media">
                                                <img alt="" src="{{ asset('img/bigicon2.png') }}" width="200px">
                                            </div>
                                            <div class="onboarding-content with-gradient">
                                                <h4 class="onboarding-title">
                                                    {{ notification.sender.nom }} {{ notification.sender.nom }}
                                                    : {{ notification.title }}
                                                </h4>
                                                <div class="onboarding-content">
                                                    {{ notification.details }}
                                                </div>
                                                <div class="onboarding-text">
                                                    {{ notification.getSendingDateString }}
                                                </div>
                                                <div class="onboarding-">
                                                    <a href="#" id="a-{{ notification.id }}">Marquer comme vu</a>
                                                   <script>
                                                        $(document).ready(function () {
                                                            $("#a-{{ notification.id }}").click(function () {
                                                                console.log("clicked"+{{ notification.id }})
                                                                $('#btn-{{ notification.id }}').trigger('click');
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                order: [[3, "desc"]],
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });
        });
    </script>
{% endblock %}