{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Accueil</a>
        </li>

        <li class="breadcrumb-item">
            <a href="#">Livraison</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <style>
        .custom-control-input:checked ~ .custom-control-label::before {
            color: #fff;
            background-color: #343a40;
            border: none;
        }

        .custom-control-input ~ .custom-control-label::before {
            border: none;
        }
    </style>
    <script>
        const delivery_id = {{ delivery.id }}
        const user_id = {{ user.id }}

            function getJSonObject(value) {
                return $.parseJSON(value.replace(/&quot;/ig, '"'));
            }
        var storeJSON = getJSonObject("{{ array|json_encode() }}");
        var option_names = []
        $.each(storeJSON, function (k, v) {
           // alert('Key = ' + k + '\n' + 'Value = ' + v);
            option_names.push(v)
        });
        //alert(option_names)
        var receivedInfo = getJSonObject("{{ info|json_encode() }}");
        //alert(JSON.stringify(receivedInfo))
    </script>

    <div class="col-sm-8">
        <div class="element-wrapper">
            <div class="element-box">
                <h5 class="form-header">
                    Livraison
                </h5>
                <div class="form-desc">
                    Gestion de livraison
                </div>
                <div class="form-group">

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="cout">Coût de livraison</label>
                            <input value="{{ info.cout }}" maxlength="11" id="cout" class='form-control' type="number"
                                   onchange="_verifCout()"/>
                        </div>
                        <div class="col-sm-6">
                            <label for="seuil">Seuil minimal pour livraison gratuit</label>
                            <input value="{{ info.seuil }}" maxlength="11" id="seuil" class='form-control' type="number"
                                   onchange="_verifSeuil()"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="select_country">Sélèctionner la ville</label>
                    <select id="select_country" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label for="select_city">Sélèctionner la région (Sélèction multiple: Appuyer sur la button Ctrl +
                        cliquer sur la région)</label>
                    <select id="select_city" class="form-control"
                            multiple="multiple"></select>
                </div>
                <div class="form-group">

                    <button id="save" class="btn btn-outline-dark" onclick="_delete()">Déselectionner cette ville</button>
                    <button id="save" class="btn btn-outline-dark" onclick="_reset()">Déselectionner tous</button>
                </div>
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="flexSwitchCheckDefault" {% if info.activation==true %}checked {% endif %}>
                    <label id="activationLabel" class="custom-control-label" for="flexSwitchCheckDefault"
                           onclick="_toggleActive()">Activer la livraison</label>
                </div>

                <div class="form-buttons-w">
                    <div class="row">
                        <div class="col-auto mr-auto">

                            <button class="btn btn-outline-dark" data-target="#onboardingTextModal"
                                    data-toggle="modal" type="button" onclick="_fill()">Vérifier
                            </button>
                        </div>
                        <div class="col-auto">
                            <button id="post-btn" class="btn btn-dark">Enregistrer</button>
                            <button id="post-btn" class="btn btn-dark" onclick="_check_json_content()">Annuler</button>

                            <div aria-hidden="true" class="onboarding-modal modal fade animated"
                                 id="onboardingTextModal" role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-centered" role="document">
                                    <div class="modal-content text-center">
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span class="close-label">Fermer</span><span
                                                    class="os-icon os-icon-close"></span></button>

                                        <div class="onboarding-content with-gradient">
                                            <h4 class="onboarding-title" id="_livraison">
                                            </h4>
                                            <div class="onboarding-content" id="_cout">
                                            </div>
                                            <div class="onboarding-text" id="_ville">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {#
    <script>
        json = option_names
        input_json = receivedInfo

        let activation = input_json["activation"];
        let cout = input_json["cout"];
        let seuil = input_json["seuil"];

        //init inputs


        let select_country = $("#select_country")
        let select_city = $("#select_city")

        let country = 0
        let city = []

        //init countries
        $.each(json, function (k, v) {
            var o = new Option(v["country"], k)
            $(o).html(v["country"])
            select_country.append(o)
        });
        //init cities
        $.each(json[0]["cities"], function (k, v) {
            //alert(k+v)
            //alert(json[0]["cities"][k]["name"])
            var o = new Option(json[0]["cities"][k]["name"], k)
            $(o).html(json[0]["cities"][k]["name"]).prop("selected", json[0]["cities"][k]["selected"])
            select_city.append(o)
        });

        function update_activation(a) {
            activation = a
            input_json["activation"] = a
         //   alert(activation)
          //  alert(input_json["activation"])
        }

        function update_cout(a) {
            cout = a
            input_json["cout"] = a
           // alert(cout)
           // alert(input_json["cout"])
        }

        function update_seuil(a) {
            seuil = a
            input_json["seuil"] = a
            //alert(seuil)
           // alert(input_json["seuil"])
        }

        function update_country(c) {
            country = c
            // alert(country)
        }

        function update_city(c) {
            if (c.length === 0)
                return
            $.each(json[country]["cities"], function (k, v) {
                json[country]["cities"][k]["selected"] = false
            });
            //alert(c)
            $.each(c, function (key, val) {
               // alert(val)
                json[country]["cities"][val]["selected"] = true
            });

            city = c
            //alert(city)
        }


        select_country.on("change", function () {

            update_city([])
            select_city.children().remove()
            update_country($(this).val())
            //alert(country)

            $.each(json[country]["cities"], function (k, v) {
                // alert(k+v)
                //alert(json[country]["cities"][k]["name"])
                var o = new Option(json[country]["cities"][k]["name"], k)
                $(o).html(json[country]["cities"][k]["name"]).prop("selected", json[country]["cities"][k]["selected"])
                select_city.append(o)
            });

        })
        select_city.on("change", function () {
            select_city_values = []
            select_city_values = $(this).val()
            // alert(select_city_values)

            update_city(select_city_values)
        })


        function _delete() {
            //alert("unselect")
            select_city.children("option").prop("selected", false)
            $.each(json[country]["cities"], function (k, v) {
                json[country]["cities"][k]["selected"] = false
            });

        }

        function _reset(){
            //alert("unselectall")
            select_city.children("option").prop("selected", false)
            json = [
                {
                    country: "tunis",
                    cities: [{name: "tunis1", selected: false}, {name: "tunis2", selected: false}, {
                        name: "tunis3",
                        selected: false
                    }],
                },
                {
                    country: "nabeul",
                    cities: [{name: "nabeul1", selected: false}, {name: "nabeul2", selected: false}, {
                        name: "nabeul3",
                        selected: false
                    }],
                },
                {
                    country: "sousse",
                    cities: [{name: "sss1", selected: false}, {name: "nsssl2", selected: false}, {
                        name: "sssl3",
                        selected: false
                    }],
                }
            ]
        }

        function _check_json_content() {
            if (json.length === 0) alert("check => json is empty")
            var jsoncheck = []
            for (var k = 0; k < json.length; k++) {
                jsoncheck.push(JSON.stringify(json[k]))
            }
            alert("check => " + jsoncheck)


            jsoncheck = []
            jsoncheck.push(JSON.stringify(input_json))

            alert("check => " + jsoncheck)
        }

        function _verifCout() {
            element = $("#cout")
            value = parseFloat(element.val())
            if (Number.isInteger(value) && value >= 0 && value.toString().length <= 11) {
                //alert("pass")
                update_cout(parseInt(value))
            } else {
                alert("Vérifier le cout ")
                element.val(0)
                update_cout(0)
            }
        }

        function _verifSeuil() {
            element = $("#seuil")
            value = parseFloat(element.val())
            if (Number.isInteger(value) && value >= 0 && value.toString().length <= 11) {
               // alert("pass")
                update_seuil(parseInt(value))
            } else {
                alert("Vérifier le seuil")
                element.val(0)
                update_seuil(0)
            }
        }


        function _toggleActive() {
            _switch = $("#flexSwitchCheckDefault")
            if (_switch.is(':checked')) {
                switchStatus = _switch.is(':checked');
                update_activation(false)
            } else {
                switchStatus = _switch.is(':checked');
                update_activation(true)
            }

        }


        function _fill() {
            livraison_div = $("#_livraison").html("Livraison " + (input_json["activation"] === true ? "activé" : "désactivé"))
            cout_div = $("#_cout").html("Cout " + (input_json["cout"]) + " dt <br>Seuil " + (input_json["seuil"]) + " dt")

            ville_div = $("#_ville").html("")
            $.each(json, function (k, v) {
                var this_city = ""
                this_country = json[k]["country"]
                //alert(json[k]["country"])
                $.each(json[k]["cities"], function (a, s) {
                    if (json[k]["cities"][a]["selected"]) {

                        this_city += json[k]["cities"][a]["name"] + " ,"
                    }
                    //alert(json[k]["cities"][a]["name"])

                })
                if (this_city !== "")
                    ville_div.append("<li>" + this_country + "</li>" + this_city.slice(0, -1))
            })
        }

        $("#post-btn").click(function (e) {
            //alert("am clicked")
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/delivery/myDelivery/" + user_id + "/edit/"+delivery_id+"/response",//post how you get this URL please...
                data: {user: user_id, array: json, info: input_json},//jQ will sort this out for you
                success: function (response) {
                    console.log("sucees");
                    console.log(response.msg);

                    window.location.href=(response.redirect);
                },
                error: function () {
                    console.log('an error occured');
                }
            });
        });
    </script>
    #}
    <script src="{{ asset('myScripts/delivery/user/edit.js') }}"></script>
{% endblock %}
