{% extends 'base.html.twig' %}

{% block title %}Mes products{% endblock %}

{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('myReceivedOrderProducts') }}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('myReceivedOrderProducts') }}">Commandes</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Produits commandés</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    {# { include('product/_myQuickLinks.html.twig') }} #}
{% endblock %}
{% block body %}
    <div class="col-sm-9">
    <div class="element-wrapper">
        <h6 class="element-header">
            Les produits de la commande  <a href="">#{{ orderId.id }}</a>
        </h6>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <div class="widget">
            <a id="btn-all" class="ui-button ui-corner-all ui-widget"  href="{{ path('myReceivedSubOrderProducts_status',{'status':'Tous','orderId':orderId.id}) }}">Tous</a>
            <a id="btn-En attente" class="ui-button ui-corner-all ui-widget" href="{{ path('myReceivedSubOrderProducts_status',{'status':'Attente','orderId':orderId.id}) }}">En attente</a>
             <a id="btn-Annuler" class="ui-button ui-corner-all ui-widget" href="{{ path('myReceivedSubOrderProducts_status',{'status':'Annuler','orderId':orderId.id}) }}">Annuler</a>
            <a id="btn-Prêt" class="ui-button ui-corner-all ui-widget" href="{{ path('myReceivedSubOrderProducts_status',{'status':'Pret','orderId':orderId.id}) }}">Prêt</a>
        </div>
        <h6 class="element-desc">
        </h6>
        <div class="element-box">

            <div class="form-desc">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Email du client</strong></th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                <a  target="_blank" href="{{ path('send_mail_as_admin_to_client', {'id':orderId.client.id}) }}">
                                    {{ orderId.client.email }} <div class="os-icon os-icon-email-forward"> Envoyer un email</div>
                                </a>
                                </td>

                            {% elseif is_granted('ROLE_SELLER') %}
                                <td>
                                <a target="_blank"  href="{{ path('send_mail_as_seller_to_client', {'id':orderId.client.id}) }}">
                                    {{ orderId.client.email }} <div class="os-icon os-icon-email-forward"> Envoyer un email</div>
                                </a></td>
                            {% endif %}

                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Numéro du téléphone du client</strong></th>
                        <td>{{ orderId.phone }}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Livraison</strong></th>
                        <td> {%  if orderId.delivery == "" %}
                                Non
                            {%  else %}
                                {{ orderId.delivery }}
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Date du commande</strong></th>
                        <td>
                            {{ orderId.orderDate |format_datetime('short', 'short', locale='fr') }}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Prix total</strong></th>
                        <td>
                            {{ orderId.total }}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Status</strong></th>
                        <td>
                            <select class="ForOrder-select-status-{{ orderId.id }}" name="{{ orderId.id }}" disabled>
                                <option value="{{ orderId.id }}-En attente" {% if orderId.status == 'En attente' %} selected {% endif %}>En attente</option>
                                <option value="{{ orderId.id }}-Annuler" {% if orderId.status == 'Annuler' %} selected {% endif %}>Annuler</option>
                                <option value="{{ orderId.id }}-Prêt" {% if orderId.status == 'Prêt' %} selected {% endif %}>Prêt</option>
                                <option value="{{ orderId.id }}-Livrer" {% if orderId.status == 'Livrer' %} selected {% endif %}>Livrer</option>
                            </select>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="order-box">
                <div class="order-items-table">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-lightborder">
                            <thead id="head">
                            <tr>
                                <th>
                                    Id produit
                                </th>
                                <th>
                                    Quantité commandée
                                </th>
                                <th>
                                    Prix des options
                                </th>
                                <th>
                                    Prix de produit
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Date de modification
                                </th>
                                <th>
                                    Status
                                </th>

                                <th>
                                    Options commandée
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td class="product-name" id="productRedirect" onclick="tdclick('{{ path('myProducts_show', {'id': product.product.id}) }}')">
                                        {#
                                            admin
                                        <a class="product-remove-btn"
                                           href="{{ path('product_show', {'id': product.product.id, 'userId':product.orderProduct.business.id}) }}">
                                            {{ product.product.id }}
                                        </a>
                                        #}
                                        {{ product.product.id }}
                                        {#
                                        <a class="product-remove-btn"
                                           href="{{ path('myProducts_show', {'id': product.product.id}) }}">
                                            {{ product.product.id }}
                                        </a>
                                        #}
                                    </td>
                                    <td  class="product-name">
                                            {{ product.qtt }}
                                    </td>

                                           {#  {{ product.options }}#}

                                    <td  class="product-name">
                                        {{ product.optionsPrice }}
                                    </td>
                                    <td  class="product-name">
                                        {{ product.price }}
                                    </td>
                                    <td  class="product-name">
                                        {{  (product.price + product.optionsPrice) * product.qtt }}
                                    </td>
                                    <td  class="product-name">
                                        {{ product.modifyDate |format_datetime('short', 'short', locale='fr') }}
                                    </td>
                                    <td>
                                        <div class="product-name">
                                            <select class="select-status-{{ product.id }}" name="{{ product.id }}" disabled>
                                                <option value="{{ product.id }}-En attente" {% if product.status == 'En attente' %} selected {% endif %}>En attente</option>
                                                <option value="{{ product.id }}-Annuler" {% if product.status == 'Annuler' %} selected {% endif %}>Annuler</option>
                                                <option value="{{ product.id }}-Prêt" {% if product.status == 'Prêt' %} selected {% endif %}>Prêt</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="row-actions">
                                        <button class="mr-2 mb-2 btn btn-primary"
                                                data-target="#onboardingTextModal-{{ product.id }}"
                                                data-toggle="modal" type="button">Détails
                                        </button>
                                        <div aria-hidden="true" class="onboarding-modal modal fade animated"
                                             id="onboardingTextModal-{{ product.id }}" role="dialog" tabindex="-1">
                                            <div class="modal-dialog modal-centered" role="document">
                                                <div class="modal-content text-center">
                                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                        <span class="close-label">Fermer</span><span
                                                                class="os-icon os-icon-close"></span></button>
                                                    <div class="onboarding-media">
                                                        <img alt="" src="{{ asset('img/bigicon2.png') }}" width="200px">
                                                    </div>
                                                    <div class="onboarding-content with-gradient">
                                                        <h4 class="onboarding-title">
                                                            Liste des options commandées
                                                        </h4>
                                                        <div class="onboarding-content">
                                                            <div class="list-group" id="myList" role="tablist">
                                                                {% for key, item in product.options %}
                                                                    <a class="list-group-item list-group-item-action" id="{{ key }}{{ product.id }}" data-toggle="list" href="#t-{{ key }}{{ product.id }}" role="tab"> <span class="badge badge-primary badge-pill">{{ key }}</span></a>
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane " id="t-{{ key }}{{ product.id }}" role="tabpanel">
                                                                            {% for choice in item %}
                                                                                {{ choice }} ,
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="onboarding-text">
                                                            Cliquer sur l'option pour voir les choix
                                                        </div>
                                                        <div class="onboarding-">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>
                                    Id produit
                                </th>
                                <th>
                                    Quantité commandée
                                </th>
                                <th>
                                    Prix des options
                                </th>
                                <th>
                                    Prix de produit
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Date de modification
                                </th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $('#myList a').on('click', function (e) {
            e.preventDefault()

            console.log(this.id);
            console.log("t-"+this.id);
           // $(this).tab('show')
            $( "div[id^='t-']" ).removeClass('active')
            $("#t-"+this.id).addClass('active')
            //$('#myList a').removeClass('active')
           // $('#myList a:last-child').children("tab-pane").removeClass('active')
        })

        var boundary = document.getElementById('productRedirect');
        var mouseOverFunction = function () {
            console.log("aa")
             this.style.color = '#0000FF'; // your colour change
        };
        var mouseLeaveFunction = function () {
            console.log("aa")
            this.style.color = '#000'; // your colour change
        };
        if(boundary != null){
        boundary.onmouseleave= mouseLeaveFunction;
        boundary.onmouseover = mouseOverFunction;
        }
        function trclick(){
            console.log('tr clicked')
        }
        function tdclick(p){
            console.log(p);
            window.open(p)
         //   window.location.href = p
            /*
            if (!e) var e = window.event;                // Get the window event
            e.cancelBubble = true;                       // IE Stop propagation
            if (e.stopPropagation) e.stopPropagation();  // Other Broswers
            console.log('td clicked');
            */
        }


        let status;
        let id;
        $("select[class^='select-status']").change(function (e) {
            //alert("am clicked")
            e.preventDefault();
            status = $(this).children("option").filter(":selected").text();
            //status = $( ".select-status option:selected" ).text();
            console.log(status)
            id = $(this).attr("name");
            console.log(id);
            $.ajax({
                type: 'PUT',
                url: "/subOrderProduct/changeStatus/",
                data: {id: id, status: status},
                success: function () {
                    window.location.href = window.location.href
                    console.log('success');
                }
            });
        });
        //ForOrder
        let statusForOrder;
        let idForOrder;
        $("select[class^='ForOrder-select-status']").change(function (e) {
            //alert("am clicked")
            e.preventDefault();
            statusForOrder = $(this).children("option").filter(":selected").text();
            //status = $( ".select-status option:selected" ).text();
            console.log(statusForOrder)
            idForOrder = $(this).attr("name");
            console.log(idForOrder);
            $.ajax({
                type: 'PUT',
                url: "/orderProduct/changeStatus/",
                data: {id: idForOrder, status: statusForOrder},
                success: function () {
                    //window.location.href = window.location.href
                    console.log('success');
                }
            });
        });



            $(document).ready(function() {



                    $("select").prop("disabled", false);
                $("#all").click()
                let table = $('#dataTable').DataTable( {
                    orderCellsTop: true,
                    fixedHeader: true,
                    "dom": '<"top"l>rt<"bottom"ip><"clear">',
                    language: {
                        url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                    },
                    initComplete: function () {




                        this.api().columns().every( function () {
                            var column = this;
                            console.log(this);
                            var select = $('<select><option value=""></option></select>')
                                .appendTo( $(column.footer()).empty() )
                                .on( 'change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
                                    column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                                } );
                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                    }
                } );
                $('#dataTable thead tr').clone(true).appendTo('#dataTable thead');
                $('#dataTable thead tr:eq(1) th').each(function (i) {

                    var title = $(this).text();
                    if(title.search("I")!==-1){
                        $(this).html('<input class="form-control" type="text" />');

                        $('input', this).on('keyup change', function () {
                            if (table.column(i).search() !== this.value) {
                                table
                                    .column(i)
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    }else{
                        $(this).html('<input type="text" hidden/>');

                    }

                });

            } );
    </script>
{% endblock %}
