{% extends 'base.html.twig' %}

{% block title %}ProductCategory index{% endblock %}
{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        <li class="breadcrumb-item">
            <a href="#">Edit</a>
        </li>
    </ul>
{% endblock %}
{% block body %}

    <div class="element-wrapper">
        <h6 class="element-header">
            Mes catégories
        </h6>
        <div class="element-box">
            <h5 class="form-header">
                Liste des catégories
            </h5>
            <div class="form-desc">
            </div>
            <div class="table-responsive">
                <table id="dataTable" style="width: 100%;" class="table table-striped table-lightfont">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product_category in product_categories %}
                        <tr>
                            <td>{{ product_category.id }}</td>
                            <td>{{ product_category.nom }}</td>
                            <td>{{ product_category.description }}</td>
                            <td>
                                <a href="{{ path('myProductCategories_show', {'id': product_category.id}) }}">show</a>

                                <a href="{{ path('myProductCategories_edit', {'id': product_category.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });
        });
    </script>

{% endblock %}
