{% extends 'base.html.twig' %}

{% block title %}Product categories index{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Selectionner un utilisateur</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Liste</a>
        </li>
    </ul>
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product_category in product_categories %}
            <tr>
                <td>{{ product_category.id }}</td>
                <td>{{ product_category.nom }}</td>
                <td>{{ product_category.description }}</td>
                <td>
                    <a href="{{ path('product_category_show', {'id': product_category.id,'userId': userId}) }}">show</a>
                    <a href="{{ path('product_category_edit', {'id': product_category.id,'userId': userId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#  <a href="{{ path('product_new') }}">Create new</a>#}
{% endblock %}
