{% extends 'base.html.twig' %}

{% block title %}Catégories des produits{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('user_product_category_index', {'action': 'index'}) }}">Selectionner un utilisateur</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Catégories</a>
        </li>
    </ul>
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="element-wrapper">
        <h6 class="element-header">
            Les catégories de l'utilisateur {{ userId.nom }}
        </h6>
        <div class="element-box">
            <h5 class="form-header">
                Liste des catégories
            </h5>
            <div class="form-desc">
            </div>
            <div class="table-responsive">
                <table id="dataTable" style="width: 100%;" class="table table-striped table-lightfont">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Liste des produits</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product_category in product_categories %}
                        <tr>
                            <td>{{ product_category.id }}</td>
                            <td>{{ product_category.nom }}</td>
                            <td>{{ product_category.description }}</td>
                            <td>
                                <a href="{{ path('product_byCategory_index_user', {'userId': userId, 'categoryId':product_category.id}) }}">Produits</a>
                            </td>
                            <td>
                                <a href="{{ path('product_category_show', {'id': product_category.id,'userId': userId}) }}">
                                    <i class="os-icon os-icon-grid-10"></i>
                                </a>
                                <a href="{{ path('product_category_edit', {'id': product_category.id,'userId': userId}) }}">
                                    <i class="os-icon os-icon-ui-49"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# <a href="{{ path('product_new') }}">Create new</a> #}
{% endblock %}
{% block javascripts %}

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });
        });
    </script>

{% endblock %}
