{{ form_start(form) }}

{# % if action='edit' %} #}
    {% do form.business.setRendered() %}
{#{% endif %} #}
    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.qtt) }}
    {{ form_row(form.category) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
