
{# % if action='edit' %} #}
{#{% endif %} #}
{#
{{ form_start(form) }}

    {% do form.business.setRendered() %}
    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.qtt) }}
    {{ form_row(form.category) }}

                        {{ form_widget(form.imageFile,{
                            'label':"Image",
                            'attr': {'class': 'form-control' ,'placeholder':"Enter l'image", 'type':'file', 'required':'true'  }
                        }) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#}


<div class="col-sm-12">
    <div class="element-wrapper">
        <div class="element-box">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            {{ form_start(form) }}
            {% do form.business.setRendered() %}
            <h5 class="form-header">
                {{ action }}
            </h5>
            <div class="form-group">
                {{ form_row(form.nom,{
                    'label':"Nom",
                    'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                }) }}
            </div>
                    <div class="form-group">
                        {{ form_row(form.description,{
                            'label':"Description",
                            'attr': {'class': 'form-control' ,'placeholder':"Entrer la description" ,'required':"required", 'type':"text" }
                        }) }}
                    </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ form_row(form.prix,{
                            'label':"Prix",
                            'attr': {'class': 'form-control' ,'placeholder':"Entrer le prix" ,'required':"required", 'type':"prix" }
                        }) }}

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ form_row(form.qtt,{
                            'label':"Quantité",
                            'attr': {'class': 'form-control' ,'placeholder':"Entrer la quantité" ,'required':"required", 'type':"text" }
                        }) }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.category,{
                            'label':"Catégorie",
                            'attr': {'class': 'form-control','required':"required" }
                        }) }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.imageFile,{
                            'label':"Image",
                            'attr': {'class': 'form-control' ,'placeholder':"Enter l'image", 'type':'file'  }
                        }) }}
                    </div>
                </div>
            </div>
            {#
            <tr>
                <th>Image</th>
                <td>
                    {% if form.imageFile %}
                        <img alt="" src= "{{ vich_uploader_asset(product, 'imageFile') }}" >
                    {% else %}
                        <img src="{{ asset('/img/bigicon1.png') }}" alt="card-img-top" style="width: 100%; height: auto">
                    {% endif %}
                </td>
            </tr>
            #}
            <div class="form-buttons-w">
                <button class="btn btn-primary disabled" type="submit"> {{ button_label }}</button>

                <button class="btn" type="reset">Reset</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
