{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('myProducts') }}">Mes produits</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Détails</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    {{ include('product/_myQuickLinks.html.twig') }}
    <a class="btn btn-white btn-sm" href="{{ path('myProducts_edit', {'id': product.id}) }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span>Modifier ce produit</span>
    </a>
    {{ include('product/myDelete_form.html.twig') }}
{% endblock %}
{% block body %}
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                Mes produits
            </h6>
            <div class="element-box">
                <h5 class="form-header">
                    Détails du produit
                </h5>
                <div class="form-desc">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ product.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ product.nom }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ product.description }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ product.prix }}</td>
                        </tr>
                        <tr>
                            <th>Qtt</th>
                            <td>{{ product.qtt }}</td>
                        </tr>
                        <tr>
                            <th>Catégorie</th>
                            <td>
                                <a class="product-remove-btn"
                                   href="{{ path('myProductCategories_show', {'id':product.category.id}) }}">
                                    {{ product.category }}
                                </a>
                            </td>
                        </tr>

                        {% if product.filename %}
                            <tr>
                                <th>Image</th>
                                <td>
                                    <img alt="" src="{{ vich_uploader_asset(product, 'imageFile') }}">
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
