{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('product_index_user', {'userId': userId }) }}">Produits</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Détails</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    {{ include('product/_quickLinks.html.twig') }}
    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
{% block body %}

    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                Les produits de l'utilisateur {{ userId.nom }}
            </h6>
            <div class="element-box">
                <h5 class="form-header">
                    Détails du produit
                </h5>
                <div class="form-desc">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ product.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ product.nom }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ product.description }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ product.prix }}</td>
                        </tr>
                        <tr>
                            <th>Qtt</th>
                            <td>{{ product.qtt }}</td>
                        </tr>
                        <tr>
                            <th>Catégorie</th>
                            <td>{{ product.category }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>
                                {% if product.filename %}
                                    <img alt="" src= "{{ vich_uploader_asset(product, 'imageFile') }}" >
                                {% else %}
                                    <img src="{{ asset('/img/bigicon1.png') }}" alt="card-img-top" style="width: 100%; height: auto">
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

{% endblock %}