{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('selectUser', {'action': 'index_user'}) }}">Selectionner un utilisateur</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('product_index_user', {'userId': userId }) }}">Liste</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Show</a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.prix }}</td>
            </tr>
            <tr>
                <th>Qtt</th>
                <td>{{ product.qtt }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
