{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('selectUser', {'action': 'index_user'}) }}">Selectionner un utilisateur</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Liste</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Qtt</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.nom }}</td>
                <td>{{ product.prix }}</td>
                <td>{{ product.qtt }}</td>
                <td>{{ product.category }}</td>
                <td>

                     <a href="{{ path('product_edit', {'id': product.id, 'userId':userId}) }}">Edit</a>
                        <a href="{{ path('product_show', {'id': product.id, 'userId':userId}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#  <a href="{{ path('product_new') }}">Create new</a>#}
{% endblock %}
