{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('selectUser', {'action': 'index_user'}) }}">Selectionner un utilisateur</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Produits</a>
        </li>
    </ul>
{% endblock %}


{% block QuickLink1 %}
    {{ include('product/_quickLinks.html.twig') }}
{% endblock %}
{% block body %}
    {#
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    #}
    <div class="element-wrapper">
        <div class="element-box">
            <div class="order-box">
                <div class="order-details-box">
                    <div class="order-main-info">
                        <span>Nom & prenom</span><strong>{{ userId.nom }} {{ userId.prenom }}</strong>
                    </div>
                    <div class="order-sub-info">
                        <span>Identifiant</span><strong>#{{ userId.id }}</strong>
                    </div>
                </div>
                <div class="order-items-table">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Info
                                </th>
                                <th>
                                    Quantité
                                </th>
                                <th>
                                    Prix
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>
                                        {% if product.filename %}
                                            <div class="product-image"
                                                 style="background-image: url({{ vich_uploader_asset(product, 'imageFile') }})"></div>
                                        {% else %}
                                            <div class="product-image"
                                                 style="background-image: url({{ asset('/img/bigicon1.png') }})"></div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="product-name">
                                            {{ product.nom }}
                                        </div>
                                        <div class="product-details">
                                            <span>Catégorie: </span><strong> {{ product.category }}</strong>
                                        </div>
                                    </td>

                                    <td class="text-md-left">
                                        <div class="product-price">
                                            {{ product.qtt }}
                                        </div>
                                    </td>
                                    <td class="text-md-left">
                                        <div class="product-price">
                                            {{ product.prix }} dt
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row row-actions" style="border-top:none ;border-bottom:none">
                                            <div class="col">
                                                <a class="product-remove-btn"
                                                   href="{{ path('myProducts_show', {'id': product.id}) }}">
                                                    <div class="os-icon os-icon-grid-10"></div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="product-remove-btn"
                                                   href="{{ path('myProducts_edit', {'id': product.id}) }}">
                                                    <div class="os-icon os-icon-ui-49"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {#
            <div class="table-responsive">
                <table id="dataTable" style="width: 100%;" class="table table-striped table-lightfont">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Qtt</th>
                        <th>Catégorie</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.nom }}</td>
                            <td>{{ product.prix }}</td>
                            <td>{{ product.qtt }}</td>
                            <td>{{ product.category }}</td>
                            <td>

                                <a href="{{ path('product_show', {'id': product.id, 'userId':userId}) }}">
                                    <i class="os-icon os-icon-grid-10"></i>
                                </a>
                                <a href="{{ path('product_edit', {'id': product.id, 'userId':userId}) }}">
                                    <i class="os-icon os-icon-ui-49"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            #}
        </div>
    </div>
    {# <a href="{{ path('product_new') }}">Create new</a> #}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });
        });
    </script>
{% endblock %}
