{% extends 'base.html.twig' %}

{% block title %}Catégories des deals{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('user_deal_category_index', {'action': 'index'}) }}">Selectionner un utilisateur</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Catégories</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    {{ include('deal_category/_quickLinks.html.twig') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="element-wrapper">
        <div class="element-box">
            <div class="order-box">
                <div class="order-details-box">
                    <div class="order-main-info">
                        <a href="{{ path('user_edit', {'id': userId.id}) }}">
                            <span>Nom & prenom</span><strong>{{ userId.nom }} {{ userId.prenom }}</strong>
                        </a>
                    </div>
                    <div class="order-sub-info">
                        <a href="{{ path('user_edit', {'id': userId.id}) }}">
                            <span>Identifiant</span><strong>#{{ userId.id }}</strong>
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="dataTable" style="width: 100%;" class="table table-striped table-lightfont">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Liste des deals</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for deal_category in deal_categories %}
                            <tr>
                                <td>{{ deal_category.id }}</td>
                                <td>{{ deal_category.nom }}</td>

                                <td>
                                    <a href="{{ path('deal_byCategory_index_user', {'userId': userId, 'categoryId':deal_category.id}) }}">Deals</a>
                                </td>

                                <td>
                                    <a href="{{ path('deal_category_show', {'id': deal_category.id,'userId': userId}) }}">
                                        <i class="os-icon os-icon-grid-10"></i>
                                    </a>
                                    <a href="{{ path('deal_category_edit', {'id': deal_category.id,'userId': userId}) }}">
                                        <i class="os-icon os-icon-ui-49"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });
        });
    </script>

{% endblock %}
