{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}
{% block QuickLink1 %}
    <a class="btn btn-white btn-sm" href="{{ path('new_option_service',{'id':id.id}) }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span>Ajouter une nouvelle option</span>
    </a>
{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>

        <li class="breadcrumb-item">
            <a href="{{ path('myServices') }}">Mes services</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('thisServiceOptions',{'id':id.id}) }}">Options</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Modifier une option</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <script>

        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }

        let product_id = {% if id is defined %}'{{ id.id }}'{% else %} '' {% endif %};
        let current_length = getJSonObject("{{current_length|json_encode()}}");
        let option_id = '{{ option.id }}';
        let price_id = "input_for_prices"
        let choice_input_native_id = "input_for_choices"
        let choices_native_id = "product_options_choices"
        let choice_number_native_id = "nbChoix"
        let name_id = "nom"
        let ajax_post_url = "/serviceOptions/editOption"
        let ajax_post_type = "POST"
        let post_button_native_id = "post-btn"
        let check_url = "/serviceOptions/checkUnique/"
        let check_type = "POST"

    </script>

    {{ include('editOption.html.twig',{description:"Modifier une option", secondHeader: "Options", firstHeader: id.nom }) }}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/myScripts/editProductOptions.js') }}"></script>
{% endblock %}
