{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        <li class="breadcrumb-item">
            <a href="{{ path('myServices_new') }}">Mon service</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('thisServiceOptions',{'id':id.id}) }}">Options</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Ajouter une option</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <script>
        let product_id = {% if id is defined %}'{{ id.id }}'{% else %} '' {% endif %};
        let price_id = "input_for_prices"
        let choice_input_native_id = "input_for_choices"
        let choices_native_id = "product_options_choices"
        let choice_number_native_id = "nbChoix"
        let name_id = "nom"
        let ajax_post_url = "/serviceOptions/list"
        let ajax_post_type = "POST"
        let post_button_native_id = "post-btn"
        let container_id = "newOptions_container"
        let check_url = "/serviceOptions/checkUnique/"
        let check_type = "POST"
    </script>

    {{ include('options.html.twig',{description:"Ajouter des options pour votre service", firstHeader: id.nom, secondHeader:"Options"}) }}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/myScripts/productOptions.js') }}"></script>
{% endblock %}