{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block QuickLink1 %}
    <a class="btn btn-white btn-sm" href="{{ path('user_new_option_service',{'user': user,'id':id.id}) }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span>Ajouter une nouvelle option</span>
    </a>
{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        <li class="breadcrumb-item">
            <a href="{{ path('service_index_user', {'userId': user }) }}">Services</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('userServiceOptions',{'id':id.id, 'user':user}) }}">Options</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Modifier une option</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <script>
        let service_id = {% if id is defined %}'{{ id.id }}'{% else %} '' {% endif %};

        let user_id = ('{{ user.id }}')
        let current_length;
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }
        //alert("aa")
        var storeJSON = getJSonObject("{{optionNames|json_encode()}}");
        var option_names = []
        $.each(storeJSON, function(k,v){
            //alert('Key = ' + k + '\n' + 'Value = ' + v);
            option_names.push(v)
        });
        //alert(option_names)
        var le = getJSonObject("{{current_length|json_encode()}}");
        // alert(le)
        current_length = le
        option_id = '{{ option.id }}';
        // alert(option_id)


    </script>

    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                Le service {{ id.nom }} de vendeur {{ user.nom }} {{ user.prenom }}
            </h6>
            <div class="element-box">
                <h5 class="form-header">
                    Options
                </h5>
                <div class="form-desc">
                    Ajouter des options pour un service
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="nom">Nom de l'option</label>
                            <input maxlength="30" id="nom" class='form-control' value="{{ option.nom }}"/>
                        </div>

                        <div class="col-sm-6">
                            <label for="nbChoix">Nombre maximum de choix à selectionner</label>
                            <select id="nbChoix" class="form-control">
                                {% set i=0 %}
                                {% for number in option.choices %}
                                    {% set i=i+1 %}
                                <option value="{{ i }}"
                                        {% if i==option.NbMaxSelected %} selected {% endif %}
                                >{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="input_for_choices">Le choix</label>
                            <input maxlength="30" id="input_for_choices" class='form-control'/>
                        </div>
                        <div class="col-sm-6" id="test">
                            <label for="test"></label>
                            <div id="test" class="row">
                                <div class="col-auto mr-auto">
                                    <button style="line-height: 2;" class="btn btn-outline-primary " type="button"
                                            onclick="_add()">Ajouter
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button style="line-height: 2;" class="btn btn-outline-danger " onclick="_delete()">
                                        Supprimer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <select id="service_options_choices" readonly="readonly" class="form-control"
                            multiple="multiple">
                        {% set i=0 %}
                        {% for choix in option.choices %}
                            {% set i=i+1 %}
                            <option value="{{ choix }}">{{ choix }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-buttons-w">
                    <div class="row">
                        <div class="col-sm-3 float-right">
                            <button hidden class="btn btn-danger" onclick=" _check_json_content()">check json</button>
                            <button  id="post-btn" class="btn btn-secondary" >Terminer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="newOptions_container">

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
     <script src="{{ asset('/myScripts/service/userEditServiceOptions.js') }}"></script>
{% endblock %}
