{% extends 'base.html.twig' %}

{% block title %}service/New Service{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        <li class="breadcrumb-item">
            <a href="{{ path('service_index_user', {'userId': user }) }}">Services</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('userServiceOptions',{'id':id.id, 'user':user}) }}">Options</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Ajouter une option</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <script>

        const user_id = '{{ user.id }}'
        let product_id = {% if id is defined %}'{{ id.id }}'{% else %} '' {% endif %};
        let price_id = "input_for_prices"
        let choice_input_native_id = "input_for_choices"
        let choices_native_id = "product_options_choices"
        let choice_number_native_id = "nbChoix"
        let name_id = "nom"
        let ajax_post_url = "/serviceOptions/admin/new"
        let ajax_post_type = "POST"
        let post_button_native_id = "post-btn"
        let container_id = "newOptions_container"
        let check_url = "/serviceOptions/checkUnique/"
        let check_type = "POST"

    </script>
    {{ include('options.html.twig',{description:"Ajouter des options pour un service", firstHeader: id.nom ~ " de l'utilisateur " ~ user.nom , secondHeader:"Options"}) }}



{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/myScripts/productOptions.js') }}"></script>
{% endblock %}
