<div class="element-wrapper">
    <h6 class="element-header">
        Dérnier clients
    </h6>
    <div class="element-box-tp">

        {% for client in clients %}
        <div class="profile-tile">
            <div class="profile-tile-box">

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="pt-btn" target="_blank" href="{{ path('send_mail_as_admin_to_client',{'id':client.id}) }}">
                        <div class="btn btn-success btn-sm"> Envoyer un email</div>
                    </a>
                {% elseif is_granted('ROLE_SELLER') %}
                    <a class="pt-btn" target="_blank" href="{{ path('send_mail_as_seller_to_client',{'id':client.id}) }}">
                        <div class="btn btn-success btn-sm"> Envoyer un email</div>
                    </a>
                {% endif %}
                <div class="pt-user-name">
                    {{ client.email }}
                </div>

            </div>
            <div class="profile-tile-meta">
                <ul>

                    <li>
                        Nombre de commande:<strong>{{ client.count }}</strong>
                    </li>
                    <li>
                        Dérnier commande:<strong><a target="_blank" href="{{ path('myReceivedSubOrderProducts_status', {'status':'Tous','orderId':client.orderId}) }}">{{ client.orderId }}</a></strong>
                    </li>
                    <li>
                        Téléphone:<strong>{{ client.phone }}</strong>
                    </li>

                </ul>



            </div>
        </div>
{% endfor %}


    </div>
</div>

