{% extends 'base.html.twig' %}

{% block title %}Mes deals{% endblock %}

{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        <li class="breadcrumb-item">
            <a href="{{ path('myDeals') }}">Mes deals</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    {{ include('deal/_myQuickLinks.html.twig') }}
{% endblock %}
{% block body %}
{#
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
#}
    <div class="element-wrapper">
        <h6 class="element-header">
            Mes deals
        </h6>
        <div class="element-box">
            <h5 class="form-header">
                Liste des deals
            </h5>
            <div class="form-desc">
            </div>
            <div class="table-responsive">
                <table id="dataTable" style="width: 100%;" class="table table-striped table-lightfont">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Qtt</th>
                        <th>Categorie</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for deal in deals %}
                        <tr>
                            <td>{{ deal.id }}</td>
                            <td>{{ deal.nom }}</td>
                            <td>{{ deal.description }}</td>
                            <td>{{ deal.prix }}</td>
                            <td>{{ deal.qtt }}</td>
                            <td>{{ deal.category }}</td>
                            <td>
                                <a href="{{ path('myDeals_show', {'id': deal.id}) }}">
                                    <i class="os-icon os-icon-grid-10"></i>
                                </a>
                                <a href="{{ path('myDeals_edit', {'id': deal.id}) }}">
                                    <i class="os-icon os-icon-ui-49"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });
        });
    </script>
{% endblock %}
