{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        <li class="breadcrumb-item">
            <a href="{{ path('myProducts') }}">Mes produits</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('thisProductOptions',{'id':id.id}) }}">Options</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Ajouter une option</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <script>
        let product_id = {% if id is defined %}'{{ id.id }}'{% else %} '' {% endif %};

        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }

        let storeJSON = getJSonObject("{{ optionNames|json_encode() }}");

        let option_names = []
        $.each(storeJSON, function (k, v) {
            //alert('Key = ' + k + '\n' + 'Value = ' + v);
            option_names.push(v)
        });
        alert(option_names)

        let price_id = "input_for_prices"
        let choice_input_native_id = "input_for_choices"
        let choices_native_id = "product_options_choices"
        let choice_number_native_id = "nbChoix"
        let name_id = "nom"
        let ajax_post_url = "/productOptions/list"
        let ajax_post_type = "POST"
        let post_button_native_id = "post-btn"
        let container_id = "newOptions_container"

    </script>

    {{ include('options.html.twig',{description:"Ajouter des options pour votre produit", firstHeader: id.nom, secondHeader:"Options"}) }}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/myScripts/productOptions.js') }}"></script>
{% endblock %}
