{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block stylesheets %}

    <style>
        /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

    </style>
{% endblock %}
{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            {% set role="user_index" %}
            {% if is_granted('ROLE_SUPER') %}
                {% set role="super_index" %}
            {% endif %}
            <a href="{{ path(role) }}">Utilisateurs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Profile</a>
        </li>
    </ul>
{% endblock %}

    {% block QuickLink1 %}

        {% set role="user_profile_password_edit" %}
        {% if is_granted('ROLE_SUPER') %}
            {% set role="super_profile_password_edit" %}
        {% endif %}
        <a class="btn btn-white btn-sm" href="{{ path(role,{'id':user}) }}">
            <i class="os-icon os-icon-delivery-box-2"></i>
            <span>Changer le mot de passe</span>
        </a>
        <a class="btn btn-white btn-sm" href="{{ path('send_mail_as_admin',{'id':user.id}) }}">
            <i class="os-icon os-icon-email-forward"></i>
            <span>Envoyer un email</span>
        </a>
        {% if is_granted('ROLE_SUPER') %}
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}

    {% endblock %}

{% block  body %}


    {% for message in app.flashes('user/edit.html.twig_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('user/edit.html.twig_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box">
                <div class="user-profile compact">
                    <div class="up-head-w" id="user_profile"
                         style="background-image:url({{ vich_uploader_asset(user, 'imageFile') }})">
                        <div class="up-social">
                            <a href="#"><i class="os-icon os-icon-twitter"></i></a>
                            <a href="#"><i
                                        class="os-icon os-icon-facebook"></i></a>
                        </div>
                        <div class="up-main-info">
                            <h2 class="up-header">
                                {{ user.nom }} {{ user.prenom }}
                            </h2>
                            <h6 class="up-sub-header">
                                {{ user.getMainRole }}
                            </h6>
                        </div>
                        <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219"
                             preserveAspectRatio="xMaxYMax meet" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                                <path class="decor-path"
                                      d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z">
                                </path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Vitrine
                            </h5>
                            <div class="element-inner-desc">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-profile compact">
                    <div class="up-contents">
                        <div class="m-b">
                            <div class="row m-b">
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('product_index_user',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getProducts|length }}
                                            </div>
                                            <div class="label">
                                                Produits
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('userProductCategories_index',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getProductCategories|length }}
                                            </div>
                                            <div class="label">
                                                Catégories de produits
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b">
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('deal_index_user',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getDeals|length }}
                                            </div>
                                            <div class="label">
                                                Deals
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('userDealCategories_index',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getDealCategories|length }}
                                            </div>
                                            <div class="label">
                                                Catégories de deal
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b">
                                {#
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('service_index_user',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getServices|length }}
                                            </div>
                                            <div class="label">
                                                Services
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(() => {
                    $("#user_profile").click(() => {
                        $('#edit_user_imageFile').trigger('click');
                    })

                })
            </script>
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Profile
                            </h5>
                            <div class="element-inner-desc">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit_user_cin" class="required">Adresse Email</label>
                    <input disabled type="text" id="edit_user_cin" class="form-control"  value="{{ user.email }}">

                </div>
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.nom,{
                                'label':"Nom",
                                'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                            }) }}

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.prenom,{
                                'label':"Prenom",
                                'attr': {'class': 'form-control' ,'placeholder':"Entrer le prenom" ,'required':"required", 'type':"text" }
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.cin,{
                                'label':"Numéro du carte d'identité",
                                'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                            }) }}

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.phone,{
                                'label':"Numéro de téléphone",
                                'attr': {'class': 'form-control' ,'placeholder':"Entrer le prenom" ,'required':"required", 'type':"text" }
                            }) }}
                        </div>
                    </div>
                </div>

                <fieldset class="form-group">
                    <legend><span>Affaire</span></legend>
                    <div class="form-group">
                        {{ form_row(form.businessName,{
                            'label':"Nom commercial",
                            'attr': {'class': 'form-control'  ,'required':"required", 'type':"text" }
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.businessDescription,{
                            'label':"Description",
                            'attr': {'class': 'form-control'  ,'required':"required", 'type':"text" }
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.category_id,{
                            'label':"Catégorie",
                            'attr': {'class': 'form-control' }
                        }) }}
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <legend><span>Géolocalisation</span></legend>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">

                                    <div id="map"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 " align="center">
                            <div class="form-group">
                                <div type="button" class="os-icon os-icon-map-pin" data-toggle="modal"
                                     data-target="#myModal">
                                    Ouvrir le map
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" id="loc" readonly="readonly" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">Longitude:
                                <input type="text" id="lng" readonly="readonly" class="form-control"
                                       value="{{ form.vars.data.longitude }}">
                            </div>
                            <div class="form-group" hidden>Longitude:
                                {{ form_row(form.longitude,{
                                    'label':"longitude",
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">Latitude:
                                <input type="text" id="lat" readonly="readonly" class="form-control"
                                       value="{{ form.vars.data.latitude }}">
                            </div>
                            <div class="form-group" hidden>
                                {{ form_row(form.latitude,{
                                    'label':"latitude",
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">

                                <div id="map"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="form-group" id="image" hidden>
                    {{ form_widget(form.imageFile,{
                        'label':"Image",
                        'attr': {'class': 'form-control' ,'placeholder':"Enter l'image", 'type':'file'  }
                    }) }}
                </div>

                {% if is_granted('ROLE_SUPER') %}

                    <fieldset class="form-group">
                        <legend><span>Droits d'accès</span></legend>
                        <div id="admin_checkbox">
                            {{ form_row(form.admin,{
                                'label':"Administrateur"
                            }) }}
                        </div>

                        <div id="seller_checkbox">
                            {{ form_row(form.vendeur,{
                                'label':"Vendeur"
                            }) }}
                        </div>
                    </fieldset>
                {% else %}
                    {% do form.admin.setRendered %}
                    {% do form.vendeur.setRendered %}
                {% endif %}

                <div class="form-buttons-w">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <button class="btn btn-primary" type="submit"> Mettre à jour</button>
                        </div>

                        <div class="col-auto">
                            <button class="btn" type="reset">Annuler</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{#     <script>
        admin = $("#admin_checkbox")
        seller = $("#seller_checkbox")
        admin_div = admin.children('div')
        seller_div = seller.children('div')
        admin_label = admin_div.children("label")
        admin_input = admin_div.children("input[type=checkbox]")
        seller_label = seller_div.children("label")
        seller_input = seller_div.children("input[type=checkbox]")
        admin_div.addClass("custom-control custom-checkbox")
        seller_div.addClass("custom-control custom-checkbox")
        seller_label.addClass("custom-control-label")
        seller_input.addClass("custom-control-input")
        seller_label.before(seller_input)
        admin_label.addClass("custom-control-label")
        admin_input.addClass("custom-control-input")
        admin_label.before(admin_input)

        let map;
        let markers = [];

        function initMap() {
            fetchLocationName($("#lat").val(), $("#lng").val());
            const uluru = {lat: 36.69858, lng: 10.14278};
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: uluru,
                mapTypeId: "terrain",
            });
            map.addListener("click", (event) => {
                alert("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
                deleteMarkers();
                addMarker(event.latLng);

                document.getElementById("edit_user_longitude").value = event.latLng.lng().toFixed(7);
                document.getElementById("edit_user_latitude").value = event.latLng.lat().toFixed(8);
                $("#lat").val(event.latLng.lat().toFixed(8));
                $("#lng").val(event.latLng.lng().toFixed(7));
                fetchLocationName(event.latLng.lat(), event.latLng.lng());
            });
        }

        function setMapOnAll(map) {
            for (let i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        function clearMarkers() {
            setMapOnAll(null);
        }

        function showMarkers() {
            setMapOnAll(map);
        }

        function addMarker(location) {
            const marker = new google.maps.Marker({
                position: location,
                map: map,
            });
            markers.push(marker);
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

        // we take adminArea5 as neighborhood  and adminArea3 as county
        async function fetchLocationName(lat, lng) {
            await fetch(
                'https://www.mapquestapi.com/geocoding/v1/reverse?key=HADD5t74PYRGaP3WeBDm36TWGYlRHTBQ&location=' + lat + '%2C' + lng + '&outFormat=json&thumbMaps=false',
            )
                .then((response) => response.json())
                .then((responseJson) => {
                    let x = JSON.stringify(responseJson)
                    console.log(
                        //'ADDRESS GEOCODE is BACK!! => ' + x,
                        'for me => ' + responseJson.results[0].locations[0].adminArea3 + ", " + responseJson.results[0].locations[0].adminArea5,
                    );
                    $loc = $("#loc");
                    $loc.val(responseJson.results[0].locations[0].adminArea3 + ", " + responseJson.results[0].locations[0].adminArea5)
                    $loc.html(responseJson.results[0].locations[0].adminArea3 + ", " + responseJson.results[0].locations[0].adminArea5);
                });
        }
    </script>
#}


    <script src="{{ asset("/myScripts/user/editUser.js") }}"></script>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBGbVdDprMqKm8-WHOBC8u3GIXrBWbJxw&callback=initMap">
    </script>
{% endblock %}