{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('user_index') }}">Utilisateurs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Détails</a>
        </li>
    </ul>
{% endblock %}


{% block  body %}


    {% for message in app.flashes('user/edit.html.twig_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('user/edit.html.twig_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {#
    {{ form_start(form) }}
    <div class="row">
        <div class="col md-4">{{ form_row(form.email) }}</div>
    </div>
    <div class="row">

        <div class="col md-2">{{ form_row(form.password,{
                'attr': {'class': 'form-control' ,'placeholder':"Enter le mot de passe" , 'type':"password" }}
                )
            }}
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

    </div>
    <div class="row">
        <div class="col md-4">
            {{ form_row(form.imageFile) }}</div>
    </div>
    <button type="submit" class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
                        <h1>{{ form_name }}</h1>
    #}
    {#
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box">
                <div class="user-profile compact">
                    <div class="up-head-w" style="background-image:url({{ vich_uploader_asset(user, 'imageFile') }})">
                        <div class="up-social">
                            <a href="#"><i class="os-icon os-icon-twitter"></i></a><a href="#"><i
                                        class="os-icon os-icon-facebook"></i></a>
                        </div>
                        <div class="up-main-info">
                            <h2 class="up-header">
                                {{ user.nom }} {{ user.prenom }}
                            </h2>
                            <h6 class="up-sub-header">
                                {% for role in user.roles %}
                                    {% if role=="ROLE_ADMIN" %} Administrateur {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                        <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219"
                             preserveAspectRatio="xMaxYMax meet" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                                <path class="decor-path"
                                      d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <div class="up-contents">
                        <div class="m-b">
                            <div class="row m-b">
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <div class="value">
                                            25
                                        </div>
                                        <div class="label">
                                            Products Sold
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 b-b">
                                    <div class="el-tablo centered padded-v">
                                        <div class="value">
                                            315
                                        </div>
                                        <div class="label">
                                            Friends
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="element-box">
                <form id="formValidate">
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-wallet-loaded"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">
                                    Gestion de profile
                                </h5>
                                <div class="element-inner-desc">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.email,{
                            'label':"Adresse Email",
                            'attr': {'class': 'form-control' ,'placeholder':"Entrer l'addresse email" ,'required':"required", 'type':"email" }
                        }) }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.nom,{
                                    'label':"Nom",
                                    'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                                }) }}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.prenom,{
                                    'label':"Prenom",
                                    'attr': {'class': 'form-control' ,'placeholder':"Entrer le prenom" ,'required':"required", 'type':"text" }
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                {{ form_row(form.cin,{
                                    'label':"Numéro du carte d'identité",
                                    'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                                }) }}

                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                {{ form_row(form.phone,{
                                    'label':"Numéro de téléphone",
                                    'attr': {'class': 'form-control' ,'placeholder':"Entrer le prenom" ,'required':"required", 'type':"text" }
                                }) }}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                {{ form_row(form.admin,{
                                    'label':"Administrateur",
                                    'attr': {'class': 'form-control' }
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.businessName,{
                            'label':"Nom de l'affaire",
                            'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.businessDescription,{
                            'label':"Description de l'affaire",
                            'attr': {'class': 'form-control' ,'placeholder':"Entrer le prenom" ,'required':"required", 'type':"text" }
                        }) }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.password,{
                                    'attr': {'class': 'form-control' ,'placeholder':"Enter le mot de passe" , 'type':"password" }}
                                ) }}
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="help-block form-text text-muted form-control-feedback">
                                    Minimum of 6 characters
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.confirm,{
                                    'attr': {'class': 'form-control' ,'placeholder':"Enter le mot de passe" , 'type':"password" }}
                                ) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.category_id,{
                            'label':"Catégorie",
                            'attr': {'class': 'form-control'  }}) }}
                    </div>
                    <div class="form-group">

                        {{ form_widget(form.imageFile,{
                            'label':"Image",
                            'attr': {'class': 'form-control' ,'placeholder':"Enter l'image", 'type':'file'  }
                        }) }}

                    </div>
                    <div class="form-buttons-w">
                        <button class="btn btn-primary disabled" type="submit"> Mettre à jour</button>

                        <button class="btn" type="reset">Reset</button>
                    </div>
                    {{ form_end(form) }}


                </form>
            </div>
        </div>
    </div>
    #}

    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box">
                <div class="user-profile compact">
                    <div class="up-head-w" style="background-image:url({{ vich_uploader_asset(user, 'imageFile') }})">
                        <div class="up-social">
                            <a href="#"><i class="os-icon os-icon-twitter"></i></a><a href="#"><i
                                        class="os-icon os-icon-facebook"></i></a>
                        </div>
                        <div class="up-main-info">
                            <h2 class="up-header">
                                {{ user.nom }} {{ user.prenom }}
                            </h2>
                            <h6 class="up-sub-header">
                                {% set r = "Utilisateur" %}
                                {% for role in user.roles %}
                                    {% if role=="ROLE_ADMIN" %} {% set r = "Administrateur" %} {% endif %}
                                {% endfor %}
                                {{ r }}
                            </h6>
                        </div>
                        <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219"
                             preserveAspectRatio="xMaxYMax meet" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                                <path class="decor-path"
                                      d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <div class="up-contents">
                        <div class="m-b">
                            <div class="row m-b">
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <div class="value">
                                            25
                                        </div>
                                        <div class="label">
                                            Products Sold
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 b-b">
                                    <div class="el-tablo centered padded-v">
                                        <div class="value">
                                            315
                                        </div>
                                        <div class="label">
                                            Friends
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Gestion de profile
                            </h5>
                            <div class="element-inner-desc">
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.email,{
                        'label':"Adresse Email",
                        'attr': {'class': 'form-control' ,'placeholder':"Entrer l'addresse email" ,'required':"required", 'type':"email" }
                    }) }}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.nom,{
                                'label':"Nom",
                                'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                            }) }}

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.prenom,{
                                'label':"Prenom",
                                'attr': {'class': 'form-control' ,'placeholder':"Entrer le prenom" ,'required':"required", 'type':"text" }
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.cin,{
                                'label':"Numéro du carte d'identité",
                                'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                            }) }}

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.phone,{
                                'label':"Numéro de téléphone",
                                'attr': {'class': 'form-control' ,'placeholder':"Entrer le prenom" ,'required':"required", 'type':"text" }
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.businessName,{
                        'label':"Nom de l'affaire",
                        'attr': {'class': 'form-control' ,'placeholder':"Entrer le nom" ,'required':"required", 'type':"text" }
                    }) }}
                </div>

                <div class="row">
                    <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.admin,{
                                    'label':"Administrateur",
                                    'attr': {'class': 'form-control' }
                                }) }}
                            </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.isActive,{
                                'label':"Activation",
                                'attr': {'class': 'form-control' }
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.businessDescription,{
                        'label':"Description de l'affaire",
                        'attr': {'class': 'form-control' ,'placeholder':"Entrer le prenom" ,'required':"required", 'type':"text" }
                    }) }}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.password,{
                                'attr': {'class': 'form-control' ,'placeholder':"Enter le mot de passe" , 'type':"password" }}
                            ) }}
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="help-block form-text text-muted form-control-feedback">
                                Minimum of 6 characters
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.confirm,{
                                'attr': {'class': 'form-control' ,'placeholder':"Enter le mot de passe" , 'type':"password" }}
                            ) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.category_id,{
                        'label':"Catégorie",
                        'attr': {'class': 'form-control'  }}) }}
                </div>
                <div class="form-group">

                    {{ form_widget(form.imageFile,{
                        'label':"Image",
                        'attr': {'class': 'form-control' ,'placeholder':"Enter l'image", 'type':'file'  }
                    }) }}

                </div>
                <div class="form-buttons-w">
                    <button class="btn btn-primary disabled" type="submit"> Mettre à jour</button>

                    <button class="btn" type="reset">Reset</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {#
    {{ include('user/_form.html.twig',{ 'form_name':'Crée un nouveau utilisateur'})  }}
    #}
{% endblock %}