{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Accueil</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Utilisateurs</a>
        </li>
    </ul>
{% endblock %}

    {% block QuickLink1 %}
        {% set role="user_new" %}
        {% if is_granted('ROLE_SUPER') %}
            {% set role="super_new" %}
        {% endif %}
        <a class="btn btn-white btn-sm" href="{{ path(role) }}">
            <i class="os-icon os-icon-delivery-box-2"></i>
            <span>Crée un nouveau utilisateur</span>
        </a>
    {% endblock %}



{% block body %}
    {#
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    #}
    <style>
        .order-box .order-items-table .product-remove-btn {
            color: #E08989;
            font-size: 16px;
        }
    </style>
    <div class="element-wrapper">
        <h6 class="element-header">
            Gestion des utilisateurs
        </h6>
        <div class="element-box">
            <h5 class="form-header">
                Liste des utilisateurs
            </h5>
            <div class="form-desc">
            </div>

            <div class="order-box">
                <div class="order-items-table">

                    <div class="table-responsive">
                        <table id="dataTable" class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Activation
                                </th>
                                <th>
                                </th>

                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in users %}
                                <tr>
                                    <td>
                                        {{ user.id }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.getMainRole }}
                                    </td>

                                    <td class="row-actions">
                                        {% set role="user_toggle_active" %}
                                        {% if is_granted('ROLE_SUPER') %}
                                            {% set role="super_toggle_active" %}
                                        {% endif %}
                                        {% if user.isActive==1 %}
                                            <a href="{{ path(role, {'id': user.id}) }}" class="product-remove-btn">
                                                Désactiver
                                            </a>
                                        {% else %}
                                            <a href="{{ path(role, {'id': user.id}) }}" class="product-remove-btn">
                                                Activer
                                            </a>
                                        {% endif %}
                                    </td>



                                    <td class="row-actions">

                                        {% set role="user_edit" %}
                                        {% if is_granted('ROLE_SUPER') %}
                                            {% set role="super_edit" %}
                                        {% endif %}
                                                <a href="{{ path(role, {'id': user.id}) }}" class="product-remove-btn">
                                                    <div class="os-icon os-icon-ui-49"></div>
                                                </a>

                                    </td>
                                    <td>
                                        <a class="product-remove-btn" href="{{ path('send_mail_as_admin',{'id':user.id}) }}">
                                            <div class="os-icon os-icon-email-forward"></div>
                                        </a>
                                    </td>
                                </tr>
                                {#
                                <a href="{{ path("user_show", {'id': user.id}) }}" class="product-remove-btn">
                                    <div class="os-icon os-icon-ui-49"></div>
                                </a>
                                #}
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#
    <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>


            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
        <a href="{{ path('user_new') }}">Create new</a>
    #}

{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                }
            });
        });
    </script>
{% endblock %}