{% extends 'base.html.twig' %}

{% block title %}Show User{% endblock %}

{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            {% set role="user_index" %}
            {% if is_granted('ROLE_SUPER') %}
                {% set role="super_index" %}
            {% endif %}
            <a href="{{ path(role) }}">Utilisateurs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Profile</a>
        </li>
    </ul>
{% endblock %}

    {% block QuickLink1 %}
{#
        {% set role="user_profile_password_edit" %}
        {% if is_granted('ROLE_SUPER') %}
            {% set role="super_profile_password_edit" %}
        {% endif %}
        <a class="btn btn-white btn-sm" href="{{ path(role,{'id':user}) }}">
            <i class="os-icon os-icon-delivery-box-2"></i>
            <span>Changer le mot de passe</span>
        </a>
        {% if is_granted('ROLE_SUPER') %}
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
#}
    {% endblock %}

{% block  body %}


    {% for message in app.flashes('user/edit.html.twig_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('user/edit.html.twig_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box">
                <div class="user-profile compact">
                    <div class="up-head-w" id="user_profile"
                         style="background-image:url({{ vich_uploader_asset(user, 'imageFile') }})">
                        <div class="up-social">
                            <a href="#"><i class="os-icon os-icon-twitter"></i></a>
                            <a href="#"><i
                                        class="os-icon os-icon-facebook"></i></a>
                        </div>
                        <div class="up-main-info">
                            <h2 class="up-header">
                                {{ user.nom }} {{ user.prenom }}
                            </h2>
                            <h6 class="up-sub-header">
                                {{ user.getMainRole }}
                            </h6>
                        </div>
                        <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219"
                             preserveAspectRatio="xMaxYMax meet" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                                <path class="decor-path"
                                      d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z">
                                </path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Vitrine
                            </h5>
                            <div class="element-inner-desc">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-profile compact">
                    <div class="up-contents">
                        <div class="m-b">
                            <div class="row m-b">
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('product_index_user',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getProducts|length }}
                                            </div>
                                            <div class="label">
                                                Produits
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('userProductCategories_index',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getProductCategories|length }}
                                            </div>
                                            <div class="label">
                                                Catégories de produits
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b">
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('deal_index_user',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getDeals|length }}
                                            </div>
                                            <div class="label">
                                                Deals
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('userDealCategories_index',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getDealCategories|length }}
                                            </div>
                                            <div class="label">
                                                Catégories de deal
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b">
                                {#
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <a href="{{ path('service_index_user',{'userId': user }) }}">
                                            <div class="value">
                                                {{ user.getServices|length }}
                                            </div>
                                            <div class="label">
                                                Services
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Profile
                            </h5>
                            <div class="element-inner-desc">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="required">Adresse Email</label>
                    <input disabled type="text" id="email" class="form-control"  value="{{ user.email }}">
                </div>

                <div class="row">
                    <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nom" class="required">Nom</label>
                                <input disabled type="text" id="nom" class="form-control"  value="{{ user.nom }}">
                            </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="prenom" class="required">Prenom</label>
                            <input disabled type="text" id="prenom" class="form-control"  value="{{ user.prenom }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="cin" class="required">Cin</label>
                            <input disabled type="text" id="cin" class="form-control"  value="{{ user.cin }}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone" class="required">Téléphone</label>
                            <input disabled type="text" id="phone" class="form-control"  value="{{ user.phone }}">
                        </div>
                    </div>
                </div>

                <fieldset class="form-group">
                    <legend><span>Affaire</span></legend>
                    <div class="form-group">
                        <label for="businessName" class="required">Affaire</label>
                        <input disabled type="text" id="businessName" class="form-control"  value="{{ user.businessName }}">
                    </div>
                    <div class="form-group">
                        <label for="businessDescription" class="required">Description</label>
                        <input disabled type="text" id="businessDescription" class="form-control"  value="{{ user.businessDescription }}">
                    </div>
                    <div class="form-group">
                        <label for="category" class="required">Catégorie</label>
                        <input disabled type="text" id="category" class="form-control"  value="{{ user.categoryId.nom }}">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <legend><span>Géolocalisation</span></legend>
                    <div class="row">


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="longitude" class="required">Longitude</label>
                                <input disabled type="text" id="longitude" class="form-control"  value="{{ user.longitude }}">
                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="latitude" class="required">Latitude</label>
                                <input disabled type="text" id="latitude" class="form-control"  value="{{ user.latitude }}">
                            </div>
                        </div>
                    </div>
                </fieldset>





            </div>
        </div>
    </div>

{% endblock %}
