{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            {% set role="user_index" %}
            {% if is_granted('ROLE_SUPER') %}
                {% set role="super_index" %}
            {% endif %}
            <a href="{{ path(role) }}">Utilisateurs</a>
        </li>
        <li class="breadcrumb-item">
            {% set role="user_edit" %}
            {% if is_granted('ROLE_SUPER') %}
                {% set role="super_edit" %}
            {% endif %}
            <a href="{{ path(role, {'id': user.id}) }}">Profile</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Changer le mot de passe</a>
        </li>
    </ul>
{% endblock %}


{% block  body %}


    {% for message in app.flashes('user/edit.html.twig_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('user/edit.html.twig_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box">
                <div class="element-info">
                    <div class="element-info-with-icon">
                        <div class="element-info-icon">
                            <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                            <h5 class="element-inner-header">
                                Changement de mot de passe
                            </h5>
                            <div class="element-inner-desc">
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_start(form) }}
                {% do form.old_password.setRendered %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.password,{
                                'choice_label':'Nouveau mot de passe',
                                'attr': {'class': 'form-control' ,'placeholder':"Enter le nouveau mot de passe" , 'type':"password" }}
                            ) }}
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="help-block form-text text-muted form-control-feedback">
                                Minimum of 6 characters
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.confirm,{
                                'attr': {
                                    'class': 'form-control' ,'placeholder':"Confirmer le mot de passe" , 'type':"password" }}
                            ) }}
                        </div>
                    </div>
                </div>
                <div class="form-buttons-w">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <button class="btn btn-primary disabled" type="submit"> Mettre à jour</button>
                            <button class="btn" type="reset">Reset</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
